{% extends "django_sb_admin/base.html" %}

{% block title %}My office{% endblock %}
{% block sb_admin_header_url %}{% url 'office:home' %}{% endblock %}
{% block sb_admin_header %}MY OFFICE{% endblock %}

{% block sb_admin_navbar_right %}
<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {% if user.username %}{{ user.username }}{% else %}Anonymous{% endif %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block sb_admin_sidebar %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if nav_active == "start" %}class="active"{% endif %}>
            <a href="{% url "office:home" %}"><i class="fa fa-home"></i> Home</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block sb_admin_title %}Title{% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small>introduction</small>{% endblock sb_admin_subheading %}

{% block breadcumb %}{% endblock breadcumb %}


{% block sb_admin_content %}
{% endblock sb_admin_content %}
